<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image colorization</title>
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap-4-utilities.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body{ font-family: 'Oswald', sans-serif;}
        .sec{
            width: 90%; margin: auto; margin-top: 120px;
        }
    </style>
</head>
<body>
    <nav class="blue-grey">
        <div class="nav-wrapper container" >
          <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <a href="#" class="brand-logo">ImageColorization</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="index.html"><i class="material-icons left">home</i> Home</a></li>
            <li><a href="about.html"><i class="material-icons left">info</i> About</a></li>
            <li><a href="contact.html"><i class="material-icons left">call_end</i>Contact</a></li>
            <li><a href="help.html"><i class="material-icons left">help</i>Help</a></li>
        </ul>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav">
      <li><a href="index.html"><i class="material-icons left ">home</i> Home</a></li>
      <li><a href="about.html"><i class="material-icons left">info</i> About</a></li>
      <li><a href="contact.html"><i class="material-icons left">call_end</i>Contact</a></li>
      <li><a href="help.html"><i class="material-icons left">help</i>Help</a></li>
    </ul>
    <div class="container center">
        <h1>After upload</h1>
    <img src="upload/image.png" class="responsive-img" >
    </div>
    <footer class="page-footer blue-grey lighten-1">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>

    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="js/materialize.min.js"></script>

    <script>
        $(document).ready(function(){
            
            $('.sidenav').sidenav();
        })

      </script>
</body>
</html>